.nav-item {
  color: black;
  font-weight: 700;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  transition: all 300ms ease-in-out;
  transform: scale(1);
}
.nav-item:hover {
  color: white;
  transform: scale(1.2);
}
.nav {
  background-color: #343a40;
}

.btn {
  color: black;
  font-size: x-large;
  font-weight: 700;
}
.btn1,
.btn2 {
  position: absolute;
  margin-top: 4%;
  right: 2%;
  top: 0;
  width: 100px;
  height: 45px;
  font-size: 26px;
  font-weight: bolder;
  color: black;
  border-radius: 8px;
}

#vid0 {
  position: absolute;
  height: 30%;
  left: 6%;
  top: 30%;
}

#vid1 {
  position: absolute;
  height: 30%;
  left: 37%;
  top: 30%;
}

#vid2 {
  position: absolute;
  height: 30%;
  left: 67%;
  top: 30%;
}

#vid3 {
  position: absolute;
  height: 30%;
  left: 6%;
  top: 65%;
}

#vid4 {
  position: absolute;
  height: 30%;
  left: 37%;
  top: 65%;
}

#vid5 {
  position: absolute;
  height: 30%;
  left: 67%;
  top: 65%;
}

#mybtn0 {
  position: absolute;
  top: 12%;
  left: 12%;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 100px;
  font-size: x-large;
  background-color: #c4c9e6;
}

#mybtn1 {
  position: absolute;
  top: 12%;
  left: 42%;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 100px;
  font-size: x-large;
  background-color: #c4c9e6;
}

#mybtn2 {
  position: absolute;
  top: 12%;
  left: 72%;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 100px;
  font-size: x-large;
  background-color: #c4c9e6;
}

#mybtn3 {
  position: absolute;
  top: 20%;
  left: 12%;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 100px;
  font-size: x-large;
  background-color: #c4c9e6;
}

#mybtn4 {
  position: absolute;
  top: 20%;
  left: 42%;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 100px;
  font-size: x-large;
  background-color: #c4c9e6;
}

#mybtn5 {
  position: absolute;
  top: 20%;
  left: 72%;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 100px;
  font-size: x-large;
  background-color: #c4c9e6;
}
