.nav-item {
  color: black;
  font-weight: 700;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  transition: all 300ms ease-in-out;
  transform: scale(1);
}
.nav-item:hover {
  color: white;
  transform: scale(1.2);
}
.nav {
  background-color: #343a40;
}

.first {
  margin-left: 1%;
  text-align: center;
}
.second {
  margin-left: 1%;
  text-align: center;
}
label {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: darkblue;
  text-align: left;
}

input {
  margin-right: 2%;
  border-width: 3px;
  width: 200px;
  padding: 8px 20px;
}

#graph {
  border-radius: 5px;
  /* margin-top: 0.8%; */
  margin-left: 5%;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.btn {
  color: black;
  font-size: x-large;
  font-weight: 500;
}
.btn1,
.btn2 {
  position: absolute;
  margin-top: 4%;
  right: 2%;
  top: 0;
  width: 100px;
  height: 45px;
  font-size: 26px;
  font-weight: bolder;
  color: black;
  border-radius: 8px;
}
