#bg {
  /* background: url(images/bg.jpg) no-repeat center center fixed; */
  /* background: no-repeat center center fixed; */
  /* -webkit-background-size: center;
  -moz-background-size: center;
  -o-background-size: center; */
  /* background-size:contain; */
  position: fixed;
  /* top:0% */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#title,
#subtitle {
  /* margin-top: 150px; */
  /* margin-top: 20px; */
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: cornsilk;
  font-family: monospace;
}
#title {
  /* position: absolute;
  text-align: center; */
  /*top: 5%;
  left: 20%;*/
  /* margin-top: 1.8em; */
  animation-delay: 8s;
  animation: slide 2s forwards;
  transform: translateX(-100%);
}
#subtitle {
  /* position: absolute;
  text-align: center; */
  /*top: 5%;
  left: 45%;*/
  animation-delay: 10s;
  animation: slide 2s forwards;
  transform: translateX(100%);
}
@keyframes slide {
  to {
    transform: translateX(0%);
  }
}

.seds,
.vyadh {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50% 50% 50% 50%;
  animation-delay: 10s;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.seds {
  margin-top: -120px;
  right: 40px;
  filter: drop-shadow(0 0 0.75rem #4c447a);
}
.vyadh {
  margin-top: -120px;
  left: 40px;
  filter: drop-shadow(0 0 0.75rem hsla(30, 2%, 20%, 0.904));
}

.info-buttons {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 30%;
}
#b1,
#b2,
#b3,
#b4 {
  height: 60px;
  width: 250px;
  /* color: black; */
  /* background-color: black; */
  border-radius: 10px;
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-weight: bolder;
  background: #111;
  opacity: 0.75;
  color: #fff;
}
